PALETTE
#34D1D1
#2F2235
#3F3244
#F2F2F2
#D1D2D3
#666666
#000000


body, html {
  margin: 0px;
  padding: 0px;
}

/*HEADER*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #2F2235;
  color: #F2F2F2;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0px;
  padding: 5px;
}

h2 {
  font-size: 16px;
  margin: 0px;
}

h1, h2 {
  font-weight: 300;
}

header span {
  color: #34D1D1;
}

/*VIEW CODE LINK*/
.link-wrapper {
  display: flex;
  justify-content: center;
}

.view-code {
  color: #F2F2F2;
  background-color: #2F2235;
  width: 200px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 20px;
  margin: 40px auto;
}


/*SECTION DIVIDER*/

.divider {
  border-bottom: 1px solid #D1D2D3;
  line-height: .1em;
  font-size: 16px;
  text-transform: uppercase;
  margin: 60px 10px 60px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.divider span {
  background-color: white;
  padding: 10px 40px 10px 20px;
}

/*ACCORDION TABS*/
.tab-wrapper {
  flex-direction: column;
  margin: 10px auto;
  width: 75%;
}

.tab-wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

li {
  width: 25%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-bottom: 2px solid #D1D2D3;
  border-right: 1px solid #FFFFFF;
  color: #666666;
  padding: 5px;
}

ul .clicked {
  border-left: 2px solid #D1D2D3;
  border-right: 2px solid #D1D2D3;
  border-top: 2px solid #D1D2D3;
  border-bottom: none;
  background-color: #FFFFFF;
  font-weight: 600;
}

.tab-content {
  display: flex;
  font-family: "Open Sans";
  border-left: 2px solid #D1D2D3;
  border-right: 2px solid #D1D2D3;
  border-bottom: 2px solid #D1D2D3;
  padding: 40px 10px 15px 15px;
}

article h3 {
  margin: 0px;
}

.tab-text {
  padding: 10px 20px 10px 30px;
}

.tab-content hr {
  color: 1px solid #D1D2D3;
}

.mobile-tab {
  display: none;
}

/*FLEXIBLE CARDS*/
.flexible-cards {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.narrow-card {
  max-width: 190px;
}

.wide-card {
  max-width: 390px;
}

.card-wrapper h1 {
  border: 2px solid #D1D2D3;
  border-bottom: none;
  margin: 0px;
  text-overflow: ellipsis;
  font-size: 15px;
  font-family: "Open Sans", cursive;
  font-weight: 600;
}

.card-wrapper img {
  margin: 0px;
}

/*NAV HEADER*/
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D1D2D3;
}

.profile h3 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #666666;
  margin: 10px 15px;
}

.nav-pic {
  border-radius: 50%;
  border: 1px solid #666666;
  margin: 10px 15px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  background-color: #E6E6E6;
  padding-bottom: 30px;
}

.nav-items a {
  background-color: #E6E6E6;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #666666;
  padding: 20px 10px 20px 20px;
}

input {
  border: 2px solid #D1D2D3;
  font-family: "Open Sans", sans-serif;
  padding:5px 5px 5px 15px;
  margin: 7px;
  background: url('./images/magnifying-glass.png') no-repeat left;
  background-position: 6px;
  text-indent: 15px;
  font-size: 18px;
  background-color: #F2F2F2;
}

/*MEDIA QUERY AT 500PX ACCORDION TABS*/
@media screen and (max-width: 500px) {
  
  ul, li {
    display: none;
  }
  
  .tab-text {
    padding: 20px 30px;
  }
  
  .tab-content {
    width: 80vw;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border: 1px solid #D1D2D3;
    border-top: none;
  }
  
  img {
    margin: 30px 10px;
  }
  
  .mobile-tab {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D1D2D3;
    font-family: "Open Sans", sans-serif;
    color: #666666;
  }
  
  .mobile-header {
    width: 150px;
    margin: 5px 20px;
  }
  
  .mobile-indicator {
    width: 30px;
    margin: 5px 15px;
  }
  
  #tab2a, #tab3a, #tab4a {
    border-top: none;
  }
}

/*MEDIA QUERY FLEXIBLE CARDS*/

@media screen and (max-width: 520px) {
  .flexible-cards {
    width: 100%;
  }
  
  .card-wrapper {
    margin: 5px auto;
    width: 80vw;
    max-width: 520px;
  }
  
}

@media screen and (max-width: 765px) {
  .card-wrapper:nth-last-of-type(1){ order: 1; }
  .card-wrapper:nth-last-of-type(2){ order: 2; }
  .card-wrapper:nth-last-of-type(3){ order: 3; }
  .card-wrapper:nth-last-of-type(4){ order: 4; }
  .card-wrapper:nth-last-of-type(5){ order: 5; }
  .card-wrapper:nth-last-of-type(6){ order: 7; }
  .card-wrapper:nth-last-of-type(7){ order: 6; }
  
}

/*MEDIA QUERY NAV HEADER */

